body,
html {
  background: transparent;
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

#__uebersicht {
  position: absolute;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
  -webkit-user-select: none;
}

.widget {
  position: absolute;
  -webkit-font-smoothing: subpixel-antialiased;
}
