{
  "presets": [
    "@babel/preset-react",
    [
      "@babel/preset-env",
      {
        "targets": [
          "Explorer 11",
          "last 5 Safari versions",
        ],
        "useBuiltIns": "usage",
        "corejs": "2",
        "modules": "commonjs"
      }
    ]
  ],
  "plugins": [
    "@babel/plugin-proposal-object-rest-spread"
  ]
}
