html, body
  background: #fff
  color: #152033
  font-family: Ubuntu, Helvetica Neue, Arial, Sans
  font-style: normal
  font-weight: 300
  line-height: 1.5

header, section, #disqus_thread
  width: 532px
  margin: 0 auto
  padding: 24px 16px 32px 16px

a, a:link, a:visited
  color: #86585a
  text-decoration: none
  font-weight: 500

  &:hover
    color: #852a2f
    text-decoration: underline

p
  margin: 0.25em 0

header
  display: block
  background: url('images/logo@2x.png')  center 30px no-repeat
  background-size:  200px 96px
  background-repeat: no-repeat

  h2
    padding-top: 132px
    font-size: 18px
    font-style: italic
    text-align: center
    margin-bottom: 24px
    font-weight: inherit

  #preview
    width: 564px
    margin: 32px -16px 24px -16px
    display: block

main
  background: #f9f9f9
  border-top: 1px solid #e0e0e0

  section
    display: block
    border-bottom: 1px solid #e0e0e0
    border-top: 1px solid #e0e0e0
    margin-top: -1px

  h1
    font-weight: 300
    font-size: 28px
    margin: 0 0 12px 0
    //text-align: center
    font-style: italic

  pre
    margin: 20px 0
    border: 1px solid #e0e0e0

    code
      line-height: 1.3
      font-family: Ubuntu Mono, Menlo, Currier New, Mono
      font-size: inherit

  ul
    padding: 4px 0 8px 0
    margin: 0

  li
    margin: 8px 0
    border-left: 8px solid #ddd
    padding-left: 8px
    list-style: none

.download
  text-align: center
  font-size: 0

  a, a:link, a:visited
    font-size: 16px
    font-weight: 400
    padding: 10px 20px
    display: inline-block
    border: 1px solid #152033
    background-color: transparent
    border-radius: 2px
    margin-right: 10px
    color: #152033;

    span
      font-size: 10px

    &:hover
      background-color: #152033
      text-decoration: none
      color: #fff

  a.app
    color: #fff
    border: 1px solid #86585a
    background-color: #86585a

    &:hover
      border: 1px solid #814d51
      background-color: #814d51

    &:active
      border: 1px solid #5f3a3c
      background-color: #5f3a3c

.screenshots
  width: 90%
  margin: 16px auto 0
  font-size: 0
  whitespace: nowrap
  padding: 0

  li
    width: 25%
    box-sizing: border-box
    border: 10px solid #fff
    display: inline-block
    margin:0

    img
      width: 100%

.more-info
  h1
    border-color: transparent
    padding-top: 8px

  .badges
    text-align: center
    font-size: 0
    margin: 42px 0

    a, a:link, a:visited
      display: inline-block
      font-size: 24px
      line-height: 1
      text-decoration: none
      font-weight: 500
      word-spacing: normal
      min-width: 30%
      text-align: left
      opacity: 0.6

      &:hover
        opacity: 1

      h2
        font-size: 14px
        font-weight: 200
        color: #666
        margin-bottom: 4px

  .twitter
    margin-left: 64px

    span
      color: #152033
    img
      height: 18px
      width: 22px
      vertical-align: baseline

  .github
    span
      color: #152033
    img
      height: 24px
      width: 24px
      vertical-align: bottom

@media only screen and (max-width: 532px)
  body, html
    width: 100%

  header, section, #disqus_thread
    width: 100%
    box-sizing: border-box

  header #preview
    width: 100%
    margin: 32px auto 24px auto

  .download a
    margin: 10px 0 0 0
    width: 100%
    box-sizing: border-box

  .more-info .badges
    whitespace: nowrap

    a, a:link, a:visited
      min-width: auto

    .twitter
      margin-left: 32px
