html, body
  background: #fff
  color: #152033
  font-family: Ubuntu, Helvetica Neue, Arial, Sans
  font-style: normal
  font-weight: 300
  line-height: 1.5
  padding: 0
  margin: 0

header, section, footer, #disqus_thread
  width: 532px
  margin: 0 auto
  padding: 24px 16px 32px 16px

a, a:link, a:visited
  color: #152033
  text-decoration: none
  font-weight: 500

  &:hover
    color: #152040
    text-decoration: underline

p
  margin: 1em 0

em
  font-weight: 300
  font-style: italic

h1
  font-weight: 700
  font-size: 28px
  margin: 0 0 12px 0
  font-style: italic

h2, h3
  font-weight: 300;
  font-size: 18px
  letter-spacing: -0.4px;
  font-weight: inherit

h3
  font-size: 16px

.center
  text-align: center

a.button, a.button:link, a.button:visited
  font-size: 14px
  font-weight: 400
  padding: 5px 10px
  border: 1px solid #152033
  background-color: transparent
  border-radius: 2px
  color: #152033;
  display: inline-block

  span
    font-size: 10px

  &:hover
    background-color: #152033
    text-decoration: none
    color: #fff

header
  display: block
  background: url('images/logo@2x.png')  center 30px no-repeat
  background-size:  200px 96px
  background-repeat: no-repeat

  h2
    padding-top: 132px
    text-align: center
    margin-bottom: 24px

  #preview
    width: 564px
    height: 331px
    margin: 32px -16px 24px -16px
    display: block

footer
  font-size: 12px
  color #666
  h1
    font-size: 14px
    margin-bottom: 6px

main
  background: #f9f9f9
  border-bottom: 1px solid #e0e0e0
  border-top: 1px solid #e0e0e0

  section
    display: block
    border-bottom: 1px solid #e0e0e0
    border-top: 1px solid #e0e0e0
    margin-top: -1px

  pre
    margin: 0
    border: 1px solid #e0e0e0

    code
      line-height: 1.3
      font-family: Ubuntu Mono, Menlo, Currier New, Mono
      font-size: inherit

  ul
    padding: 0
    margin: 0

  li
    margin: 8px 0
    border-left: 8px solid #ddd
    padding-left: 8px
    list-style: none

.description
  border-top: none

.download
  text-align: center
  font-size: 0

  a.button, a.button:link, a.button:visited
    margin-right: 10px
    color: #152033;
    padding: 10px 20px
    font-size: 16px

    span
      font-size: 10px

    &:hover
      background-color: #152033
      text-decoration: none
      color: #fff

  a.app.button
    color: #fff
    border: 1px solid #152033
    background-color: #152033

    &:hover
      border: 1px solid #152040
      background-color: #152040

    &:active
      border: 1px solid #0e0c1a
      background-color: #0e0c1a

#sponsor-link, #sponsor-link:link, #sponsor-link:visited
  padding: 15px 0 35px
  display: block
  text-align: center
  cursor: pointer
  font-size: 13px
  line-height: 15px
  vertical-align: middle
  margin: 20px 0 -35px
  background: url('images/arrow-down.png')
  background-size: 100px 30px
  background-repeat: no-repeat
  background-position: center 90%
  text-indent: -1.5em
  transition: all 300ms
  font-weight: 700
  letter-spacing: -0.1px;
  color: #4E596D

  &:hover
    text-decoration: none
    background-position: center 95%
    color: #152033

  .heart
    vertical-align: bottom
    margin: 0 4px
    fill: #EA4AAA

.screenshots
  width: 90%
  margin: 16px auto 0
  font-size: 0
  whitespace: nowrap
  padding: 0

  li
    width: 25%
    box-sizing: border-box
    border: 10px solid #fff
    display: inline-block
    margin: 0

    img
      width: 100%

.more-info
  h1
    border-color: transparent
    padding-top: 8px

  .badges
    text-align: center
    font-size: 0
    margin: 20px 0
    display: flex
    justify-content:  space-between

    a, a:link, a:visited
      font-size: 24px
      line-height: 1
      text-decoration: none
      font-weight: 500
      word-spacing: normal
      text-align: left
      opacity: 0.6

      &:hover
        opacity: 1

      h2
        font-size: 14px
        font-weight: 200
        color: #666
        margin-bottom: 4px

  .twitter
    span
      color: #152033
    img
      height: 18px
      width: 22px
      vertical-align: baseline

  .github
    span
      color: #152033
    img
      height: 24px
      width: 24px
      vertical-align: bottom

@media only screen and (max-width: 532px)
  body, html
    width: 100%

  header, section, footer, #disqus_thread
    width: 100%
    box-sizing: border-box

  header #preview
    width: 100%
    height: auto
    margin: 32px 0 24px 0
    box-sizing: border-box

  .download
    width: 100%
    box-sizing: border-box
    padding: 0 8px

    a
      margin: 8px 0 12px 0
      width: 100%
      box-sizing: border-box
      line-height: 1.5em

  .more-info .badges
    flex-direction: column
